.jslirolaLogin2seeplusAlert
{
    border: 1px dashed var(--primary-color);
    color: var(--muted-color);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
}

.jslirolaLogin2seeplusImgPlaceholder
{
    cursor: default;
    background: var(--control-bg);
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    min-height: 150px;
    min-width: 150px;
}
